<a href="https://colab.research.google.com/github/Pythonimeislabor/repo1/blob/main/unser_erstes_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Die print-funktion
print ( objekt )

In [ ]:
print("123") # Das Objekt ist "123"
print(123) # Das Objekt ist 123
print(1,2,3) 
print(print) # Das Objekt ist die print-funktion

123
123
1 2 3
<built-in function print>

# Datentypen und type()

In [ ]:
print(type(123)) # wird ausgegeben wegen print
type("123") # wird nicht ausgegeben weil kein print und nicht letzter Befehl in der Codezeile
type(1.5)  # wird ausgegeben weil letzter Befehl

<class 'int'>

float

In [ ]:
a = "123"
print(a)
type(a)

123

str

In [ ]:
b = 3.3
print(b)
type(b)

3.3

float

In [ ]:
print(a, b)

123 3.3

Umwandlung von Datentypen:<br>
str() macht int / float zu string<br>
int() macht string / floats zu int<br>
float() macht string / ints zu float

In [ ]:
str(12), int("123"), float("3.3"), int(3.3)

# Fehler

In [ ]:
print("123")
prin("123") # prin wurde nicht richtig geschrieben

123

NameError: ignored

In [ ]:
print("123")) # eine ) zu viel

SyntaxError: ignored

In [ ]:
if True:
print("True") # die leerzeichen wurden vergessen

#richtig:
if True:
  print("True")

IndentationError: ignored

In [ ]:
print(1+1)
print(1-1)
print(1*2)
print(1/2)

2
0
2
0.5

In [ ]:
print(5 % 2) # 5 / 2 = 2 Rest 1

1

In [ ]:
print(13 // 3) # 5 / 2 = 2 ganzzahlig teilen

4

In [ ]:
"123" * 5 # "123" ist ein string und kann nicht wie Zahlen verrechnet werden

'123123123123123'

In [ ]:
# 15% von 70
print("15% von 70 sind", 70 / 100 * 15)

15% von 70 sind 10.5

# Wahrheitswerte und if
if bedingung :<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>
else:<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>

code nicht in der if-Abfrage

In [ ]:
3 == 3, 3 < 3, 4 > 3

(True, False, True)

In [ ]:
if 3 == 3:
  print("3 ist 3")

3 ist 3

input() - ermöglicht dir Eingabe einer Zeichenkette

In [ ]:
a = input()
print(type(a)) # <class 'str'>
a = int(a)
print(type(a)) # <class 'int'>

if a > 2:
  antwort = "a ist größer als 2"
  print(antwort)

  if a > 4:
    print("a ist größer als 4")
  else:
    print("a ist größer als 2 aber kleiner als 4")

234
<class 'str'>
<class 'int'>
a ist größer als 2
a ist größer als 4

# for - schleifen
for iterator in generator:<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>

In [ ]:
#in c++: for(int i = 0; i<10; i++){}

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

# Listen
Liste deklarien: name = []

In [ ]:
unsere_liste = []
type(unsere_liste)

list

In [ ]:
unsere_liste = [1,2,3,"ein string", print, 1.234]
unsere_liste

[1, 2, 3, 'ein string', <function print>, 1.234]

zugriff auf ein Element der Liste:<br>
unsere_liste[index]

In [ ]:
unsere_liste[3]

'ein string'

len(liste) gibt die Länge der liste zurück

In [ ]:
len(unsere_liste)

6

In [ ]:
# Alle Elemente der Liste duchgehen
for i in range(len(unsere_liste)):
  print(i, unsere_liste[i])

0 1
1 2
2 3
3 4
4 5

append() - hängt ein Element an die Liste an

In [ ]:
unsere_liste = [1,2,3]
print("Die Liste ist", unsere_liste)
unsere_liste.append(4)
print("Die Liste ist", unsere_liste)

Die Liste ist [1, 2, 3]
Die Liste ist [1, 2, 3, 4]

del - löscht objekte

In [ ]:
a = 123
print(a)
del a
print(a)

123

NameError: ignored

In [ ]:
unsere_liste = [1,2,3]
del unsere_liste[1]
unsere_liste

[1, 3]

# for-Schleife mit Listen

In [ ]:
for i in unsere_liste:
  print(i)

1
2
3
ein string
<built-in function print>
1.234

In [ ]:
unsere_liste = [1,2,3,4,5]
summe = 0
for i in unsere_liste:
  summe = summe + i

summe

15

# Funktionen

**Definition:**<br>
def name(parameter):<br>
  &nbsp;&nbsp;&nbsp;code<br>
  &nbsp;&nbsp;&nbsp;code<br>
  &nbsp;&nbsp;&nbsp;code<br>

**Aufruf:**<br>
name(parameter)

In [35]:
def meine_funktion(param1, param2):
  return param1 % param2 == 0
  
meine_funktion(6, 2)

True

# Übungen

Lese mit input 2 Zahlen ein und prüfe, ob die erste Zahl größer als die zweite Zahl ist. Gebe eine sinnvolle Ausgabe aus

In [ ]:
# 2 Zahlen einlesen
zahl1 = input("bitte gib zahl 1 ein: ")
zahl2 = input("bitte gib zahl 2 ein: ")

#inputs von string zu zahl machen
zahl1 = int(zahl1)
zahl2 = int(zahl2)

if zahl1 > zahl2:
  print("zahl 1 ist größer als zahl 2")
else:
  print("zahl 1 ist nicht größer als zahl 2")

Gegeben ist eine Variable a. Prüfe, ob diese Variable ein string ist, wenn ja gib eine sinnvolla Ausgabe aus. Benutze die Funktion type()

In [ ]:
a = "fbrnejnjreb"

if repr(type(a)) == "<class 'str'>":
  print("a ist ein string")

Es sollen alle Zahlen von 1 bis a addiert und die Summe ausgegeben werden. a kann als Variable festgelegt werden oder mit input() gelesen werden.<br>
Bsp: a = 4<br>
Rechnung: 1+2+3+4<br>
Ausgabe: 10

In [ ]:
# a einlesen
a = input()
a = int(a)

summe = 0 #speichert das Gesamtergebnis

for i in range(1,a+1): # einschließlich a, deswegen a+1
  #print("i ist", i)
  #print("summe vor der Addition ist", summe)
  summe = summe + i
  #print("summe nach der Addition ist", summe)

print("summe ist", summe)

Eine Variable soll mit input() eingelesen werden. Diese Variable soll 5 mal in eine Liste kopiert werden.<br>
Bsp: Eingabe "abc"<br>
Ausgabe: liste ["abc", "abc", "abc", "abc", "abc"]

In [ ]:
a = input()
unsere_liste = []
for i in range(5):
  unsere_liste.append(a)
print(unsere_liste)

unsere_liste_2 = [a,a,a,a,a]
print(unsere_liste_2)

unsere_liste_3 = [a] * 5
print(unsere_liste_3)

Gegeben ist eine Liste mit 5 Zahlen. Alle Zahlen sollen addiert werden und das Ergebnis ausgegeben werden

In [ ]:
unsere_liste = [1,2,3,4,5, 6,7,8]

summe = 0
for i in unsere_liste:
  summe += i # summe += i ist die Kurzform für summe = summe + i

print("Die Lösung ist", summe)

Gegeben ist eine Liste mit Zahlen. Die erste gerade Zahl soll aus der Liste gelöscht werden

In [ ]:
meine_liste = [1,3,3,7,5,3,4] # Liste gegeben

print("Liste vorher:", meine_liste)
print("Die Liste besitzt", len(meine_liste), "Elemente") # len() gibt die Anzahl der Elemente einer Liste zurück


for i in range(len(meine_liste)): # range(stop) zählt von 0 bis stop ausschließlich stop
    print(meine_liste[i])
    if meine_liste[i] % 2 == 0: # wenn das Element an der Stelle i durch 2 teilbar ist und der Rest 0 ist
      del meine_liste[i] # das Element aus der Liste löschen
      break # break verlässt die letzte Schleife

print("schleife zu ende")
print("Liste nachher:", meine_liste)

Gegeben ist eine natürliche Zahl. Prüfe, ob diese Zahl eine Primzahl ist

In [ ]:
# % - Operator teilt zahl1 durch zahl2 und gibt den Rest zurück
zahl1 = 24
zahl2 = 4
print("zahl1 % zahl2 =", zahl1 % zahl2 )
print("Ist der Rest der Division 0?", zahl1 % zahl2 == 0)

In [ ]:
# Erstes Teilproblem: wie prüfen wir, ob eine Zahl durch eine andere Zahl teilbar ist

zahl = 7 # Zahl ist gegeben

# Wir müssen prüfen, ob die gegebene Zahl durch andere Zahlen teilbar ist
test_zahl1 = 2
zahl % test_zahl1 == 0

In [ ]:
# Zweite Teilproblem: welche Zahlen müssen geprüft werden?

# wir müssen alle Zahlen von 2 bis zu der gegebenen Zahl prüfen
# wenn die gegebene Zahl durch keine der geprüften Zahlen teilbar ist, ist es eine Primzahl
zahl = 7

#für die Zahl 7 müssen die Zahlen 2,3,4,5,6 geprüft werden
print(zahl % 2 == 0)
print(zahl % 3 == 0)
print(zahl % 4 == 0)
print(zahl % 5 == 0)
print(zahl % 6 == 0)

In [ ]:
# Drittes Teilproblem: wie können wir die zu prüfende Zahlen generieren

zahl = 7

for i in range(2,zahl):
  zahl_durch_i_teilbar = zahl % i == 0
  print("ist",zahl,"teilbar durch",i, zahl_durch_i_teilbar)

In [13]:
# Vierte Teilproblem: Die Primzahlen erkennen

zahl = 19

summe = 0
for i in range(2,zahl):
  zahl_durch_i_teilbar = zahl % i == 0
  if zahl_durch_i_teilbar:
    print("zahl durch",i,"teilbar") # Wenn diese Zeile ausgeführt wird, kann zahl keine Primzahl sein
    summe+=1

print("Die Zahl ist durch", summe, "Zahlen teilbar")

if summe == 0:
  print(zahl, "ist eine Primzahl")
else:
  print(zahl, "ist keine Primzahl")

Die Zahl ist durch 0 Zahlen teilbar
19 ist eine Primzahl

Schreibe einen Algorithmus in einer Funktion

In [39]:
# der Code zum Primzahlen-prüfen ist allgemeingültig, deswegen kann er als Funktion geschrieben werden
def meine_funktion(zahl): # zahl kann eine beliebiege Zahl sein
  summe = 0
  for i in range(2,zahl):
    zahl_durch_i_teilbar = zahl % i == 0
    if zahl_durch_i_teilbar:
      print("zahl durch",i,"teilbar") # Wenn diese Zeile ausgeführt wird, kann zahl keine Primzahl sein
      summe+=1

  print("Die Zahl ist durch", summe, "Zahlen teilbar")

meine_funktion(10)

zahl durch 2 teilbar
zahl durch 5 teilbar
Die Zahl ist durch 2 Zahlen teilbar