# Die print-funktion
print ( objekt )

In [1]:
print("123") # Das Objekt ist "123"
print(123) # Das Objekt ist 123
print(1,2,3) 
print(print) # Das Objekt ist die print-funktion

123
123
1 2 3
<built-in function print>

# Datentypen und type()

In [2]:
print(type(123)) # wird ausgegeben wegen print
type("123") # wird nicht ausgegeben weil kein print und nicht letzter Befehl in der Codezeile
type(1.5)  # wird ausgegeben weil letzter Befehl

<class 'int'>

float

In [5]:
a = "123"
print(a)
type(a)

123

str

In [6]:
b = 3.3
print(b)
type(b)

3.3

float

In [7]:
print(a, b)

123 3.3

Umwandlung von Datentypen:<br>
str() macht int / float zu string<br>
int() macht string / floats zu int<br>
float() macht string / ints zu float

In [ ]:
str(12), int("123"), float("3.3"), int(3.3)

# Fehler

In [8]:
print("123")
prin("123") # prin wurde nicht richtig geschrieben

123

NameError: ignored

In [9]:
print("123")) # eine ) zu viel

SyntaxError: ignored

In [10]:
if True:
print("True") # die leerzeichen wurden vergessen

#richtig:
if True:
  print("True")

IndentationError: ignored

In [11]:
print(1+1)
print(1-1)
print(1*2)
print(1/2)

2
0
2
0.5

In [12]:
print(5 % 2) # 5 / 2 = 2 Rest 1

1

In [13]:
print(13 // 3) # 5 / 2 = 2 ganzzahlig teilen

4

In [14]:
"123" * 5 # "123" ist ein string und kann nicht wie Zahlen verrechnet werden

'123123123123123'

In [15]:
# 15% von 70
print("15% von 70 sind", 70 / 100 * 15)

15% von 70 sind 10.5

# Wahrheitswerte und if
if bedingung :<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>
else:<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>

code nicht in der if-Abfrage

In [16]:
3 == 3, 3 < 3, 4 > 3

(True, False, True)

In [17]:
if 3 == 3:
  print("3 ist 3")

3 ist 3

input() - ermöglicht dir Eingabe einer Zeichenkette

In [18]:
a = input()
print(type(a)) # <class 'str'>
a = int(a)
print(type(a)) # <class 'int'>

if a > 2:
  antwort = "a ist größer als 2"
  print(antwort)

  if a > 4:
    print("a ist größer als 4")
  else:
    print("a ist größer als 2 aber kleiner als 4")

234
<class 'str'>
<class 'int'>
a ist größer als 2
a ist größer als 4

# for - schleifen
for iterator in generator:<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>
&nbsp;&nbsp;code<br>

In [19]:
#in c++: for(int i = 0; i<10; i++){}

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

# Listen
Liste deklarien: name = []

In [38]:
unsere_liste = []
type(unsere_liste)

list

In [53]:
unsere_liste = [1,2,3,"ein string", print, 1.234]
unsere_liste

[1, 2, 3, 'ein string', <function print>, 1.234]

zugriff auf ein Element der Liste:<br>
unsere_liste[index]

In [50]:
unsere_liste[3]

'ein string'

len(liste) gibt die Länge der liste zurück

In [54]:
len(unsere_liste)

6

In [60]:
# Alle Elemente der Liste duchgehen
for i in range(len(unsere_liste)):
  print(i, unsere_liste[i])

0 1
1 2
2 3
3 4
4 5

append() - hängt ein Element an die Liste an

In [65]:
unsere_liste = [1,2,3]
print("Die Liste ist", unsere_liste)
unsere_liste.append(4)
print("Die Liste ist", unsere_liste)

Die Liste ist [1, 2, 3]
Die Liste ist [1, 2, 3, 4]

del - löscht objekte

In [67]:
a = 123
print(a)
del a
print(a)

123

NameError: ignored

In [68]:
unsere_liste = [1,2,3]
del unsere_liste[1]
unsere_liste

[1, 3]

# for-Schleife mit Listen

In [56]:
for i in unsere_liste:
  print(i)

1
2
3
ein string
<built-in function print>
1.234

In [59]:
unsere_liste = [1,2,3,4,5]
summe = 0
for i in unsere_liste:
  summe = summe + i

summe

15

# Übungen

Lese mit input 2 Zahlen ein und prüfe, ob die erste Zahl größer als die zweite Zahl ist. Gebe eine sinnvolle Ausgabe aus

In [20]:
# 2 Zahlen einlesen
zahl1 = input("bitte gib zahl 1 ein: ")
zahl2 = input("bitte gib zahl 2 ein: ")

#inputs von string zu zahl machen
zahl1 = int(zahl1)
zahl2 = int(zahl2)

if zahl1 > zahl2:
  print("zahl 1 ist größer als zahl 2")
else:
  print("zahl 1 ist nicht größer als zahl 2")

bitte gib zahl 1 ein: 234
bitte gib zahl 2 ein: 123
zahl 1 ist größer als zahl 2

Gegeben ist eine Variable a. Prüfe, ob diese Variable ein string ist, wenn ja gib eine sinnvolla Ausgabe aus. Benutze die Funktion type()

In [21]:
a = "fbrnejnjreb"

if repr(type(a)) == "<class 'str'>":
  print("a ist ein string")

a ist ein string

Es sollen alle Zahlen von 1 bis a addiert und die Summe ausgegeben werden. a kann als Variable festgelegt werden oder mit input() gelesen werden.<br>
Bsp: a = 4<br>
Rechnung: 1+2+3+4<br>
Ausgabe: 10

In [33]:
# a einlesen
a = input()
a = int(a)

summe = 0 #speichert das Gesamtergebnis

for i in range(1,a+1): # einschließlich a, deswegen a+1
  #print("i ist", i)
  #print("summe vor der Addition ist", summe)
  summe = summe + i
  #print("summe nach der Addition ist", summe)

print("summe ist", summe)

123
summe ist 7626

Eine Variable soll mit input() eingelesen werden. Diese Variable soll 5 mal in eine Liste kopiert werden.<br>
Bsp: Eingabe "abc"<br>
Ausgabe: liste ["abc", "abc", "abc", "abc", "abc"]

In [73]:
a = input()
unsere_liste = []
for i in range(5):
  unsere_liste.append(a)
print(unsere_liste)

unsere_liste_2 = [a,a,a,a,a]
print(unsere_liste_2)

unsere_liste_3 = [a] * 5
print(unsere_liste_3)

abc
['abc', 'abc', 'abc', 'abc', 'abc']
['abc', 'abc', 'abc', 'abc', 'abc']
['abc', 'abc', 'abc', 'abc', 'abc']

Gegeben ist eine Liste mit 5 Zahlen. Alle Zahlen sollen addiert werden und das Ergebnis ausgegeben werden

In [77]:
unsere_liste = [1,2,3,4,5, 6, 7, 8]

summe = 0
for i in unsere_liste:
  summe += i # summe += i ist die Kurzform für summe = summe + i

print("Die Lösung ist", summe)

Die Lösung ist 36